
.photoResults {
  margin-left: 1rem;
}

.photoResultsControl {
  margin-left: 1rem;
  .limitPage {
    margin-left: 1rem;
  }
}

.photoFilter {
  margin-left: 1rem;
  .selectAlbum {
    margin-left: 1rem;
  }
}